*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: gray;
}
.main{
    display: flex;
    width: 100%;
  height: 100%;
  border: 1px solid #b14141; 
  gap: 20px;
}

 /* .col-1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

} 
.col-2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.col{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* .row1 ,
.row2{
    flex-grow: 1;
} */
.row{
    flex-grow: 1;
    background-color: tomato;
}
.row2{
    background-color: yellowgreen;
}
/* .row:hover{
    flex-grow: 3;
} */
/* .row2:hover{
    flex-grow: 3;
} */
/* .rowgrow{
    flex-grow: 3;
} */
.col-1grow{
    flex-grow: 3;
    transition: 0.5s ease-in-out;

}
/* .col:hover{
    flex-grow: 3 ;
} */
/* .col-2:hover{
    flex-grow: 3;
} */

